################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/udf-service/v15/.suo
/.vs

# NPM modules
**/node_modules
**/dist

